# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Personal pages
_posts/2024-12-06-hygiene.md
_posts/2024-12-06-mantras.md
_posts/2024-12-07-borpi.md
_posts/2024-12-06-cult.md
_posts/2024-12-07-home-office-plan.md
_posts/2024-12-06-weighted-exercises.md
_posts/2024-12-06-supplements.md
_posts/2024-12-06-justified-distrust.md